<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletMIMETypesDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HtmlServlet</display-name>
    <servlet-name>HtmlServlet</servlet-name>
    <servlet-class>pack.HtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlServlet</servlet-name>
    <url-pattern>/h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordServlet</display-name>
    <servlet-name>WordServlet</servlet-name>
    <servlet-class>pack.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordServlet</servlet-name>
    <url-pattern>/w</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>pack.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/e</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XMLServlet</display-name>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>pack.XMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/x</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestInfoServlet</display-name>
    <servlet-name>RequestInfoServlet</servlet-name>
    <servlet-class>pack.RequestInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfoServlet</servlet-name>
    <url-pattern>/ReqInfo</url-pattern>
  </servlet-mapping>
</web-app>