<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletToServletComm</display-name>
  <welcome-file-list>
    <welcome-file>product.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>pack.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/aa/bb/srv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeServlet</display-name>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>pack.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/aa/cc/srv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NormalServlet</display-name>
    <servlet-name>NormalServlet</servlet-name>
    <servlet-class>pack.NormalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NormalServlet</servlet-name>
    <url-pattern>/aa/dd/srv3</url-pattern>
  </servlet-mapping>
</web-app>