<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DateServlet</display-name>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>pack.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/datesrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>pack.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/regsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pack.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoterServlet</display-name>
    <servlet-name>VoterServlet</servlet-name>
    <servlet-class>pack.VoterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterServlet</servlet-name>
    <url-pattern>/votersrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishServlet</display-name>
    <servlet-name>WishServlet</servlet-name>
    <servlet-class>pack.WishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishServlet</servlet-name>
    <url-pattern>/wishsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>pack.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcomesrv</url-pattern>
  </servlet-mapping>
</web-app>