<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WishApp</display-name>
  <servlet>
    <description></description>
    <display-name>WishServlet</display-name>
    <servlet-name>WishServlet</servlet-name>
    <servlet-class>pack.WishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishServlet</servlet-name>
    <url-pattern>/wishsrv</url-pattern>
  </servlet-mapping>
</web-app>