<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletSessionTrackingShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pack.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PenDriveServlet</display-name>
    <servlet-name>PenDriveServlet</servlet-name>
    <servlet-class>pack.PenDriveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PenDriveServlet</servlet-name>
    <url-pattern>/pensrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaptopServlet</display-name>
    <servlet-name>LaptopServlet</servlet-name>
    <servlet-class>pack.LaptopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaptopServlet</servlet-name>
    <url-pattern>/lapsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pack.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillPaymetServlet</display-name>
    <servlet-name>BillPaymetServlet</servlet-name>
    <servlet-class>pack.BillPaymetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillPaymetServlet</servlet-name>
    <url-pattern>/billsrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlRewritingServlet1</display-name>
    <servlet-name>UrlRewritingServlet1</servlet-name>
    <servlet-class>pack.UrlRewritingServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewritingServlet1</servlet-name>
    <url-pattern>/srv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlRewritingServlet2</display-name>
    <servlet-name>UrlRewritingServlet2</servlet-name>
    <servlet-class>pack.UrlRewritingServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewritingServlet2</servlet-name>
    <url-pattern>/srv2</url-pattern>
  </servlet-mapping>
</web-app>