<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletFilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>filter1</filter-name>
  	<filter-class>Pack.TimerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter1</filter-name>
  	<url-pattern>/srv1</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>FilterServlet</display-name>
    <servlet-name>FilterServlet</servlet-name>
    <servlet-class>Pack.FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterServlet</servlet-name>
    <url-pattern>/srv1</url-pattern>
  </servlet-mapping>
</web-app>